{{#section 'head'}}
<link rel="stylesheet" href="css/index.css">
<link rel="icon" type="image/x-icon" href="img/logo_try1.png">

{{/section}}
<section id="header">
        <!-- <a href="#"><img src="" class="logo" alt=""></a> -->
        <a href="#"><i class="fab fa-d-and-d"></i></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index">Home</a> </li>
                <li><a href="Shop">Shop</a></li>
                <li><a href="blog">Blog</a></li>
                {{!-- <li><a href="login" id="login">Log In</a></li>
                <li><a href="signup" id="signup">Sign Up</a></li> --}}
                
                <li id="bag"><a href="cart"><i class="fas fa-shopping-cart"></i></a></li>
                <a href="#" id="close"><i class="fas fa-arrow-right"></i></a>
            </ul>
        </div>
        <div id="mobile">

            <a href="cart"><i class="fas fa-shopping-cart"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="hero">
        <h4>Tested, Designed, and Created </h4>
        <h2>To Keep You up and running!</h2>
        <h1>Supercharged</h1>
        <p>Save upto 70% this festive season!</p>
    <a href="#product1"><button>Shop Now</button></a>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/Features/f1.png.png" alt="">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="img/Features/f2.png.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="img/Features/f3.png.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="img/Features/f4.png.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="img/Features/f5.png.png" alt="">
            <h6>24/7 Support</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Summer collection New Modernn Design</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/Features/Tshirt1.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Gym Shorts.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Tshirt2.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Climachill T-Shirt.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Tshirt8.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Men's V Neck Tshirt.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Tshirt7.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Adidas Women's Slim Polo Shirt.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Tshirt4.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Easy Wear.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Tshirt3.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Jammies UwU.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Shorts5.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Manchester UTD Shorts.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
                <img src="img/Features/Shorts6.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Chelsea Merch.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
        </div>
    </section>

    <section id="banner" class="section-m1">
        <h4>Festive Offer</h4>
        <h2>Up to <span>70% off</span> - All T-Shirts & Shorts</h2>
       <a href="Shop"> <button class="normal">Explore More</button></a>
    </section>

      <section id="product1" class="section-p1">
        <h2>New Products</h2>
        <p>New Modern Designs</p>
       <div class="pro-container">
        <a href="Shop"><div class="pro">
                <img src="img/Features/Tshirt1.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5 id="ci1">Sweat Wear.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-sharp-half-stroke"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
        
            <a href="Shop">  <div class="pro">
                <img src="img/Features/Tshirt2.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Weekend Wear.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop">    <div class="pro">
                <img src="img/Features/Tshirt8.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Football Jersey(Uni).</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop">  <div class="pro">
                <img src="img/Features/Tshirt7.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Manchester Merch.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop">   <div class="pro">
                <img src="img/Features/Tshirt4.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Blue Jams.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop">   <div class="pro">
                <img src="img/Features/Tshirt3.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>Drip Shirt.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop"><div class="pro">
                <img src="img/Features/Shorts5.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>blue socks.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
            <a href="Shop">  <div class="pro">
                <img src="img/Features/Shorts6.webp" alt="">
                <div class="des">
                    <span>Adidas</span>
                    <h5>High Socks.</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
            </div>
            </a>
        </div>
    </section>


    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>Crazy Deals</h4>
            <h2>Buy 1 get 1 free</h2>
            <span>Best in Class Stitching</span>
            <button class="white">Learn More</button>
        </div>

        <div class="banner-box banner-box2">
            <h4>Spring/Summer</h4>
            <h2>Upcoming Season</h2>
            <span>Best in Class Stitching</span>
            <button class="white">Collections</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h2>Upcoming Season</h2>
            <h3>Spring collection - 50% OFF</h3>
        </div>

        <div class="banner-box banner-box2">
            <h2>Upcoming Season</h2>
            <h3>Spring collection - 50% OFF</h3>
        </div>

        <div class="banner-box banner-box3">
            <h2>Upcoming Season</h2>
            <h3>Spring collection - 50% OFF</h3>
        </div>

    </section>

    <footer class="section-p1">
        <div class="col">
            <i id="logo" class="fab fa-d-and-d"></i>
            <h4>Contact</h4>
            <p><strong>Address:</strong>BML Munjal University, NH-48, Kapriwas</p>
            <p><strong>Phone:</strong>0000 000000</p>
            <p><Strong>Hours:</Strong>10:00 - 18:00, Mon - Sat</p>

            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Info</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Termas & Conditions</a>
            <a href="#">Contact Us</a>

            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track Orders</a>
            <a href="#">Help</a>


        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img class="App" src="img/4.png" alt="">
                <img class="App" src="img/5.png" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="" alt="">
        </div>

        <div class="copyright">
            <p> 2021 Group proj E-Commerce WebSite</p>
        </div>

    </footer>



    <script src="js/index.js"></script>